<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <!-------------------------------------------->
           <!-- <div class="form-group">
                <label for="Role">Role</label>
                <input type="text" formControlName="Role" class="form-control" [ng-class]="{'is-invalid':submitted && f.Role.errors}">
                <div *ngIf="submitted && f.Role.errors" class="invalid-feedback">
                    <div *ngIf="f.Role.errors.required">Role is required</div>
                </div>
            </div>-->
         <div class="form-group">
                <h5 class="mb-3">Role</h5>
                <div class="d-block my-3">

                    <div class="custom-control custom-radio">
                        <input id="user" type="radio" class="custom-control-input" value="User" name="Role" formControlName="Role">
                        <label class="custom-control-label" for="user">user</label>
                    </div>

                    <div class="custom-control custom-radio">
                         <input id="admin" type="radio" class="custom-control-input" value="Admin" name="Role" formControlName="Role">
                         <label class="custom-control-label" for="admin">admin</label>
                    </div>

                    <div class="invalid-feedback" *ngIf="submitted && f.Role.errors">
                     <p>Please select either value</p>
                 </div>
                </div>
            </div>
            <!------------------------------------------->
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>